<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Home</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/home.css" />
</head>

<body>
    <header id="js-header"></header>
