<% include ./templates/_header %>

<main>
    <h1 class="title">Hello html-scss-jquery-dev-env!</h1>
    <div class="eye-catch">
        <img
            src="/assets/images/home/sample.jpg"
            width="1920"
            height="1440"
            alt="Sample image alt"
        />
    </div>
</main>

<% include ./templates/_footer %>
